<div class="col-md-offset-2 col-md-5">
    <div class="form-signin">

        <h2 class="form-signin-heading">Please Log in</h2>
		<%= form_for :login, url: login_path, class: "form-signin" do |f| %>
		<br>
		<%= f.label :account, class: "sr-only" %>
		<%= f.text_field :account, class: "form-control", placeholder: "Account", required: "true", :autofocus => true %>
		<br>
		<%= f.label :password, class: "sr-only" %>
		<%= f.text_field :password, class: "form-control", placeholder: "Password", :type => "password" %>
		<br>
		<br>
		<%= f.button "登入" , class: "btn btn-lg btn-primary btn-block", type: "submit" %>
		<% end %>

    </div> <!-- /container -->
</div>
