<div class= "col-md-offset-4 col-md-4">
	<h3>Admin > Categories > New</h3>
	
	<br>
	<%= form_for @admin_category, :url => admin_categories_path, class: "form-horizontal" do |admin_category| %>
		<div class="form-group">
			<%= admin_category.label :title, "輸入類別名稱" %>
			<%= admin_category.text_field :title, class: "form-control", placeholder: "輸入類別名稱" %>
	  </div>
	
	  <br>
  	<%= admin_category.submit "送出", class: "btn btn-success" %>
		<br>
		<br>
	
		<%= link_to "取消", admin_categories_path, class: "btn btn-danger" %>
	<% end %>
</div>